.board {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
}

.display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}


.selected-board p {
    margin: 30px;
}

.cards-container {
    grid-template-columns: 1fr;
    display: grid;
    /* padding: 30px 0 30px 0; */
    grid-gap: 30px;
}