/* This is for Selected Board + Create Card Form + Board Display */
/* .board {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
} */
.board {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}
    
.selected-board { 
    display: grid;
}

.container1 {
	display: flex; 
    grid-area: 2 / 1 / 3 / 2;
	flex-direction: row; 
	flex-wrap: wrap; 
    justify-content: initial;
    text-indent: 80px;
}


.new-card-form { 
    grid-area: 1 / 2 / 2 / 3; 
}


/* .display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
} */


.selected-board p {
    margin: 30px;
}