.stack {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    width: 100%;
    align-items: flex-start;
} 

.submit-board {
    width: 100%;
    margin-top: 50px;
    align-self: center;
}

input[type="submit"] {
    background-color: #00c3ff2c;
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #00c3ffaa;
    width: 99%;
    border: 1px solid #158aff;
    cursor: pointer;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
    padding-bottom: 13px;
    float: left;
}

h2:before {
    background-color: #37daff;
    content: '';
    display: block;
    height: 3px;
    width: 35px;
    margin-bottom: 5px;
}